body {
  background-image: url(../images/69718387-diablo-wallpapers.jpg);
  font-family: 'Skranji', cursive, sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
}

footer {
  background-color: #E3170D
}

#hangman {
  font-size: 7em;
  font-weight: 900;
  color: #E3170D;
  font-family: 'Skranji', cursive;
  height: 125px;
  line-height: 125px;
}

#diablo {
  font-family: 'Skranji', cursive;
  color: rgb(159, 161, 23);
  font-size: 6em;
}

.game {
  border: dashed darkred 2px;
}

.pic {
  border: dashed darkred;
  border-width: 2px 0px 2px 2px;
}

.wrapper {
  min-height: calc(100vh - 80px);
}

@media (max-width: 576px) { 
  #diablo {
    font-size: 3em;
  }

  #hangman {
    font-size: 3em;
    height: 50px;
    line-height: 50px;
  }
}

@media (max-width: 320px) {
  #hangman {
    font-size: 2.7em;
  }
}
